@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #000;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo {
  color: white;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1.5px solid transparent;
  transition: all 0.3s ease;
}
nav .logo:hover {
  color: crimson;
  border-color: crimson;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  border-bottom: 1.5px solid transparent;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  border-color: crimson;
  color: crimson;
}
nav .menu-btn i {
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
nav .menu-btn i:hover {
  color: crimson;
}

input[type=checkbox] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0px 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:Checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    z-index: 10;
    display: block;
    transition: all 0.3s ease;
  }
  #click:Checked ~ ul {
    left: 0px;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:Checked ~ ul li a {
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  nav .logo {
    font-size: 28px;
    margin-left: -20px;
  }
  nav .menu-btn i {
    font-size: 28px;
  }
}
.home {
  width: 100%;
  display: flex;
  height: 100vh;
  min-height: 500px;
  background-image: url("./images/home3.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .container {
  padding: 0px 50px;
  width: 100%;
  display: flex;
}
.home .home-content {
  margin-top: 15%;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 55px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: crimson;
  background: none;
}
.home .home-content a .hire {
  border-bottom: 1.5px solid transparent;
  border-width: 2px;
}
.home .home-content a .hire:hover {
  border-color: crimson;
}

@media (max-width: 920px) {
  .home {
    background-size: 130%;
  }
  .container {
    padding: 0px 20px !important;
  }
  .home-content {
    margin-top: 20% !important;
  }
  .home-content .text-1 {
    font-size: 24px !important;
  }
  .home-content .text-2 {
    font-size: 45px !important;
  }
  .home-content .text-3 {
    font-size: 35px !important;
  }
  .home-content a {
    font-size: 20px !important;
  }
}
@media (max-width: 600px) {
  .home .container .home-content .text-1 {
    font-size: 20px !important;
  }
  .home .container .home-content .text-2 {
    font-size: 35px !important;
  }
  .home .container .home-content .text-3 {
    font-size: 30px !important;
  }
  .home .container .home-content a {
    padding: 7px 15px !important;
    font-size: 18px;
  }
}
.about {
  width: 100%;
}
.about .title:after,
.about .title:before {
  content: "     ";
  text-decoration: line-through;
  color: crimson;
  margin: auto 0.5em;
}
.about h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 5%;
  padding: 15px;
}
.about .container {
  padding: 0px 50px;
}
.about .about-content {
  font-weight: 450;
  font-size: 15px;
}
.about .about-content .text {
  font-size: 20px;
}
.about a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about a:hover {
  color: crimson;
  background: none;
}
.about a .cv {
  border-bottom: 1.5px solid transparent;
  border-width: 2px;
}
.about a .cv:hover {
  border-color: crimson;
}

@media (max-width: 920px) and (min-width: 680px) {
  .container {
    padding: 0px 20px !important;
  }
  h2 {
    margin-top: 0% !important;
  }
}
@media (max-width: 680px) {
  h2 {
    margin-top: -15% !important;
  }
}
@media (max-width: 480px) {
  .about h2 {
    padding: 0px;
  }
  .about .about-content .linkCenter {
    text-align: center;
  }
  .about .about-content .linkCenter a {
    padding: 7px 15px !important;
    font-size: 18px;
  }
}
.myprojects {
  background: black;
}
.myprojects .title:after,
.myprojects .title:before {
  content: "     ";
  text-decoration: line-through;
  color: crimson;
  margin: auto 0.5em;
}
.myprojects h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 5%;
  padding: 15px;
}
.myprojects h2 {
  color: wheat;
}

.projects {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  font-family: "poppins", sans-serif;
}
.projects .container1 {
  width: 95%;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: calc(50% - 20px);
  min-height: 300px;
  background: rgb(219, 212, 199);
  margin: 10px;
  box-sizing: border-box;
}
.card .details {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .details .content {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.card .details .content h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 0.85em;
  font-weight: 600;
  color: black;
}
.card .details .content h2 span {
  font-size: 14px;
  color: rgb(14, 11, 11);
}
.card .details .content a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 25px;
}
.card .details .content a:hover {
  color: crimson;
  background: none;
}
.card .imgBx {
  position: absolute;
  width: 50%;
  height: 100%;
}
.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 991px) {
  .myprojects {
    margin-top: 3% !important;
  }
  .card {
    width: calc(80% - 20px);
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  .card {
    width: calc(90% - 20px);
    margin: 10px auto;
  }
  .card .imgBx {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .card .details {
    position: relative;
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 680px) {
  .myprojects {
    margin-top: 20% !important;
  }
  .myprojects .card .details {
    margin-top: 7% !important;
  }
}
@media (max-width: 480px) {
  .card {
    width: calc(98% - 20px);
  }
  .myprojects h2 {
    padding: 0px;
  }
}
.skills {
  width: 100%;
  margin-bottom: 2%;
}
.skills .title:after,
.skills .title:before {
  content: "     ";
  text-decoration: line-through;
  color: crimson;
  margin: auto 0.5em;
}
.skills h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 5%;
  padding: 15px;
}
.skills .skills-area {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}
.skills .skills-area .skill {
  position: relative;
  margin-bottom: 15px;
}
.skills .skills-area .skill .skill-title {
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: 400;
  color: #141416;
}
.skills .skills-area .skill .skill-fill {
  background: rgb(19, 134, 24);
  height: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;
}
.skills .skills-area .skill .skill-fill .skill-percent {
  font-size: 25px;
}
.skills .skills-area .skill .cp {
  animation: cp 2s;
  width: 90%;
}
.skills .skills-area .skill .node {
  animation: node 2s;
  width: 90%;
}
.skills .skills-area .skill .react {
  animation: react 2s;
  width: 80%;
}
.skills .skills-area .skill .microservice {
  animation: react 2s;
  width: 80%;
}
.skills .skills-area .skill .rabbitmqRedis {
  animation: react 2s;
  width: 80%;
}
.skills .skills-area .skill .devops {
  animation: react 2s;
  width: 70%;
}
.skills .skills-area .skill .sql {
  animation: sql 2s;
  width: 70%;
}
.skills .skills-area .skill .mongodb {
  animation: mongodb 2s;
  width: 90%;
}
.skills .skills-area .skill .htmlCss {
  animation: htmlCss 2s;
  width: 80%;
}

@media (max-width: 730px) {
  .skills {
    margin-top: 2% !important;
  }
}
@media (max-width: 680px) {
  .skills {
    margin-top: 15% !important;
  }
}
@media only screen and (max-width: 750px) {
  .skills {
    margin-bottom: 5%;
  }
  .skills .skills-area {
    padding-left: 5%;
    padding-right: 0%;
  }
  .skills .skills-area .skill {
    margin-bottom: 10px;
  }
  .skills .skills-area .skill .skill-title {
    font-size: 18px !important;
  }
  .skills .skills-area .skill .skill-fill {
    height: 30px;
  }
  .skills .skills-area .skill .skill-fill .skill-percent {
    font-size: 22px;
  }
}
@keyframes cp {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes node {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes react {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes microservice {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes rabbitmqRedis {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes devops {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes sql {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes mongodb {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
@keyframes htmlCss {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
.contact {
  background: black;
  color: wheat;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  margin-bottom: -30px;
  padding-bottom: 70px;
}
.contact .title:after,
.contact .title:before {
  content: "     ";
  text-decoration: line-through;
  color: crimson;
  margin: auto 0.5em;
}
.contact h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 5%;
  padding: 15px;
}
.contact h2 {
  color: wheat;
  margin-top: 15px;
}
.contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.contact .content .left-side .details {
  margin: 14px;
  text-align: center;
}
.contact .content .left-side .details i {
  font-size: 30px;
  color: crimson;
  margin-bottom: 10px;
}
.contact .content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.contact .content .left-side .details .text-one,
.contact .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.contact .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.contact .content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: crimson;
}
.contact .content .right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.contact .content .right-side .input-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.contact .content .message-box {
  min-height: 110px;
}
.contact .content .button {
  display: inline-block;
  margin-top: 12px;
}
.contact .content .button input[type=button] {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
}
.contact .content .button input[type=button]:hover {
  color: crimson;
  background: none;
}

@media (max-width: 680px) {
  .contact {
    padding: 100px 0 !important;
  }
  .contact h2 {
    padding: 0px;
  }
  .contact .content .left-side {
    margin-left: 15%;
  }
  .contact .content .right-side .form {
    text-align: center;
  }
  .contact .content .right-side .form .button {
    margin-top: -8px;
  }
  .contact .content .right-side .form .button input {
    font-size: 18px;
  }
}
@media (max-width: 900px) {
  .contact {
    padding: 20px 0px;
    margin-left: -15%;
    padding-bottom: 5%;
  }
  .contact .content {
    flex-direction: column-reverse;
  }
}
.footer {
  background: #1A1E25;
  text-align: center;
}
.footer .title:after,
.footer .title:before {
  content: "     ";
  text-decoration: line-through;
  color: crimson;
  margin: auto 0.5em;
}
.footer h2 {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  margin-top: 5%;
  padding: 15px;
}
.footer h2 {
  color: wheat;
  margin-top: 15px;
}
.footer .contact-social ul {
  margin-top: 2%;
  display: inline-flex;
}
.footer .contact-social ul li {
  list-style: none;
  padding: 2%;
}
.footer .contact-social ul li a {
  display: inline-block;
  background: crimson;
  color: white;
  font-size: 25px;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  text-decoration: none;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 25px;
}
.footer .contact-social ul li a:hover {
  color: crimson;
  background: none;
}
.footer .line {
  width: 60%;
  margin-left: 80px;
}
.footer footer {
  color: #868c96;
}
.footer footer p {
  padding: 40px 0;
}

@media (max-width: 600px) {
  .footer ul > li > a {
    padding: 5px 15px !important;
  }
  .footer .line {
    margin-left: 42px;
  }
  .footer footer {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */